{{> head title="maintenance" }}
<style>
    @media only screen and (max-width: 600px) {
        .maintenance h1 { font-size: 16px !important; }
    }
</style>
<body class="maintenance">
    <header>
        <div class="logo">
            <svg id="Logo" xmlns="http://www.w3.org/2000/svg" width="150" height="45" viewBox="0 0 150 45"><defs><style>.cls-1{fill:#f7931e;}.cls-2{fill:#003e7e;}</style></defs><title>TopBox</title><path class="cls-1" d="M25 21.94v11.25L6 38.9V6.19l19 5.7v1.81l3-2.89V8.69L0 0v45l28-8.61V17.51l-3 4.43z"/><path class="cls-2" d="M7.29 15.57l8.24 9.1 20.1-18.06-20.01 27.52-8.33-18.56z"/><g id="Top"><path class="cls-2" d="M39 14h19v4h-7v12h-5V18h-7zM57.32 23.33c0-3.72 2.36-4.33 4.53-4.33h6.35c2.17 0 5.12.61 5.12 4.33V26c0 3.72-3 4-5.12 4h-6.35c-2.17 0-4.53-.26-4.53-4zm4 1.67c0 1.61 1.06 2 3 2h2c2.74 0 3-.5 3-2v-1c0-1.5-.23-2-3-2h-2c-1.95 0-3 .39-3 2zM76 19h3.75v1.68c.53-1 1.5-1.72 4-1.72H85c5.37 0 6 1.78 6 4.66v2c0 2.88-.64 4.31-6 4.31h-.86c-2.41 0-3.19 0-4.12-1.63V34H76zm3.88 6.19c0 1.7.88 2.08 2.57 2.08h2.23c2 0 2.23-.71 2.23-2V24c0-1.26-.2-2-2.23-2h-2.24c-1.68 0-2.57.38-2.57 2.08z"/></g><g id="Box"><path class="cls-1" d="M94 14h14c3.91 0 6 1.36 6 4.5 0 2.74-1.19 3-2.56 3.37v.07c2.15.27 2.56 1.42 2.56 3.83 0 3.52-1.7 4.23-4.5 4.23H94zm5 7h8.46a1.37 1.37 0 0 0 1.44-1.5 1.35 1.35 0 0 0-1.44-1.5H99zm0 6h8.57c1.06 0 1.77-.57 1.77-1.5 0-1.08-.71-1.5-1.77-1.5H99zM117 23.33c0-3.72 2.36-4.33 4.53-4.33h6.35c2.17 0 5.12.61 5.12 4.33V26c0 3.72-3 4-5.12 4h-6.35c-2.17 0-4.53-.26-4.53-4zm4 1.67c0 1.61 1.06 2 3 2h2c2.74 0 3-.5 3-2v-1c0-1.5-.23-2-3-2h-2c-1.95 0-3 .39-3 2zM138.68 24.39L134.25 19h5.51l2.17 3.09 2.16-3.09h5.51l-4.42 5.39L150 30h-5.37l-2.7-3.49-2.7 3.49h-5.37z"/></g></svg>
        </div>
        <h1>We are currently undergoing maintenance.</h1>
    </header>
    {{> img-maintenance }}
    <footer>
        <p>We’ll be back <strong>very soon</strong>. Sorry for any inconvenience.</p>
    </footer>
</body>
</html>
