.maintenance {
    padding: 30px;
    background-color: $color-backing;
    text-align: center;

    h1 {
        @extend %header-secondary;

        @include breakpoint($size-mobile) {
            font-size: rem(16px);
        }
    }

    img {
        width: 100%;
        max-width: 800px;
        height: auto;
    }

    .logo {
        margin-bottom: 30px;
    }
}
